{{>header}}
<script src="/build/generator-carousel-admin/bundle.js"></script>
<div class='page'>
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<div class="o-forms-group">
				<p> If you would like to edit an existing carousel,
				paste the URL in here: <br><label>Paste Url:</label> <input id="templateCarousel" type="url" name="copyfrom"/></p>
			</div>
			<FORM id="carouselForm" action="/generators/carousel" method="get">
				<div class="title-form-item o-forms-group">
					A descriptive name for when this carousel is listed in the admin screen)<br>
					<label>Title:</label> <input name="title" />
				</div>
				<BR/>

				<TABLE>

					<thead>
						<TR class="o-forms-group row">
							<td width="50%">
								<I>(Don't forget to include the http:// part. OK to leave urls blank)</I>
							</td><td>
								<I>(Duration is integer seconds. Blank defaults to 10)</I>
							</td>
						</TR>
					</thead>

					<tbody>
						<TR class="url-and-duration o-forms-group row">
							<td class="url-form-item">
								<label>Url</label>
								<input type="url" name="u" form="carouselForm"/>
							</td>
							<td>
								<label>Duration</label>
								<input type="text" name="d" size="4"/>
							</td>
							<td>
								<a href="javascript: void(0)" class="remove">×</a>
							</td>
						</TR>
					</tbody>
				</TABLE>

				<BR/>

				<div class="button">
					<BUTTON type="submit" class="o-buttons o-buttons--standout o-buttons--big">Create Carousel</BUTTON>
				</div>
			</FORM>

			<DIV>
				<a id="linkOutput" class="linkOutput"></a>
			<DIV>

			<H2>Example carousels</H2>

			<P>Just click to enjoy.</P>

			<UL>
				<LI><A HREF="/generators/carousel?title=Wikipedia%20and%20Labs&u=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FThomas_Robert_Malthus&d=3&u=http%3A%2F%2Fftlabs-six-degrees.herokuapp.com%2Fgraph.html&d=20&u=http%3A%2F%2Flabs.ft.com&d=3&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=">wikipedia and labs stuff</A></LI>
				<LI><A HREF="/generators/carousel?title=Guardian%20and%20BBC&u=http%3A%2F%2Fwww.theguardian.com%2Fuk&d=&u=http%3A%2F%2Fwww.bbc.co.uk%2Fnews&d=&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=&u=&d=">guardian and bbc</A></LI>
			</UL>
		</div>
	</div>
</div>
