{{>header}}

<div class='page'>
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<p>
				<h1>Generate a ticker</h1>
			</p>
			<FORM action="/generators/ticker" method="get">

				<div class="o-forms-group">
					<label class="o-forms-label">RSS feed</label>
					<input type="text" class='o-forms-text' name="src" />
				</div>

				<p>or enter individual messages</p>

				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>
				<div class="o-forms-group">
					<label class="o-forms-label">Message</label>
					<input type="text" class='o-forms-text' name="msg" />
				</div>



				<div class="button">
					<BUTTON type="submit" class="o-buttons o-buttons--standout o-buttons--big">Create</BUTTON>
				</div>
			</FORM>
		</div>
	</div>
</div>
