<link href='/build/generator-youtube-player/bundle.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://build.origami.ft.com/v1/bundles/css?modules=o-fonts%401.8.4%2Co-ft-icons%402.4.0%2Co-header%404.0.0%2Co-grid%404.0.0%2Co-footer%404.0.0%2Co-forms%402.0.0%2Co-colors%403.3.0%2Co-buttons%403.0.3%2Co-autoinit%401.2.0&shrinkwrap=ftdomdelegate%402.0.3%2Co-assets%402.0.0%2Co-dom%402.0.0%2Co-hierarchical-nav%403.0.1%2Co-hoverable%403.0.0%2Co-layers%402.0.1%2Co-squishy-list%402.0.0%2Co-viewport%402.0.0" />


<div class="logo"></div>

<div id="yt-player"></div>

<div id="cover_card" data-visible="false">
	<div class="logo"></div>
</div>
<script src="/build/generator-youtube-player/bundle.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

