{{>header}}
<div class='page'>
	<h1>FT Screens</h1>

	<p>
		You can add ordinary urls to any screen but in case you want a particular layout or just display a simple text message you can use the tools below. These will produce a URL you can bookmark and use in the screens.
	</p>

	<ul>
		<li class="generator-select">
			<a href="/generators/markdown"><h2>Markdown Generator</h2></a>
			<p>
				Produce a page with text using the very simple <a href="https://help.github.com/articles/markdown-basics/" target="_blank">Markdown Syntax.
			</p>
		</li>

		<li class="generator-select">
			<a href="/generators/carousel"><h2>Carousel Generator</h2></a>
			<p>
				Create a page which will load new content every few seconds.
			</p>
		</li>

		<li class="generator-select">
			<a href="/generators/layout"><h2>Layout Generator</h2></a>
			<p>
				Produce a displaying multiple URLs in a grid layout. This can include URLs generated using the other tools.
			</p>
		</li>

		<li class="generator-select">
			<a href="/generators/ticker"><h2>Ticker Generator</h2></a>
			<p>
				Display text scrolling from right to left like a stock or news ticker.  Useful to combine with the layout generator.
			</p>
		</li>

		<li class="generator-select">
			<a href="/generators/rtc"><h2>Video Conference Generator</h2></a>
			<p>
				Display a video with audio enabled from your webcam.  Useful for streaming a meeting.
			</p>
		</li>
	</ul>
</div>
