<link href='/build/generator-youtube-player/bundle.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://build.origami.ft.com/bundles/css?modules=o-fonts@^1.6.7,o-ft-icons@^2.3.6,o-header,o-grid,o-footer,o-forms,o-colors,o-buttons" />


<div class="logo"></div>

<div id="yt-player"></div>

<div id="cover_card" data-visible="false">
	<div class="logo"></div>
</div>
<script src="/build/generator-youtube-player/bundle.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

