@import "../../common/scss/admin-common";

label {
	user-select: none;
}

button {
	@include oButtons(big, standout);
}

input {
	@include oFormsCommonField;
}

label {
	font-weight: bold;
}

form {
	table {
		width: 100%;
	}

	.url-form-item {
		width:100%;
		margin-right: 1em;
	}

	.remove {
		font-weight: bold;
		color: black;
		text-decoration: none;
		width: 1em;
		text-align: center;
		display: inline-block;
	}


	.o-forms-group.row {
		margin-bottom: 1em;

		td {
			padding: 0 1em;
		}
	}
}
