@import "../../common/scss/admin-common";

$fa-font-path: "/fonts";
@import './lib/font-awesome/font-awesome';

select {
	@include oFormsCommonField;
	@include oFormsSelect;
	width: auto;
}

.input-text {
	@include oFormsCommonField;
	width: auto;
}

.input-date {
	@include oFormsCommonField;
	width: auto;
	flex: 1;
	display: none;

	@include oGridRespondTo(M) {
		display: block;
	}

}

.input-time {
	@include oFormsCommonField;
	width: auto;
	flex: 1;
	display: none;

	@include oGridRespondTo(M) {
		display: block;
	}
}

label {
	user-select: none;
}

button {
	@include oButtons(big, standout);
}

.filterbar {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;

	@include oGridRespondTo(M) {
		flex-direction: inherit;
		align-items: center;
	}

}
.filterbar__selectall {
	flex: 0.6 1 auto;
	padding: 0;
	margin-top: 0.5em;
	@include oGridRespondTo(M) {
		padding-left: 5px;
		margin-top: 0;
	}
}
.filterbar__text {
	@include oFormsCommonField;
	flex: 0.4 1 auto;
	width: 100%;

	@include oGridRespondTo(M) {
		flex-direction: inherit;
		width: auto;
		max-width: 500px;
	}

}

.highlight {
	font-weight: bold;
	background-color: rgba(159, 36, 255, 0.3);
}

.screens {
	max-height: 100%;
	overflow: scroll;
	padding-bottom: 25vh;
	display: block;
	td,
	th {
		border-top: 1px solid #bbbbbb;
		padding: 5px;
		position: relative;
	}
	
	.screen-name-col {
		max-width: 14em;
		min-width: 8em;
	}

	@include oGridRespondTo(M) {
		border-collapse: collapse;
		width: 100%;
		border-bottom: 1px solid #bbbbbb;
		margin: 5px 0;
		// Add some extra space for the floating action baron large screen
		margin-bottom: 8em;
	}
}

.rename-group {
	display: none;
	.action-rename {
		display: none;
	}
}

.rename-mode {
	.rename-group {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.screen-name {
		visibility: hidden;
	}

	.action-rename {
		display: none;
	}
}

.screen-id-col {
	width: 3em;
}

.screen-name-col:before {
	padding: 0 1em;
	.rename-mode & {
		content: "";
	}
}
.action-rename {
	visibility: hidden;
	cursor: pointer;
}
.screen:hover .action-rename {
	visibility: visible;
	cursor: pointer;
}

.screen-offline,
.screen-remove {
	opacity: 0.5;
}

.queue {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

.queue li {
	margin-bottom: 4px;
	overflow: hidden;
	display: flex;

	.item-info-url,
	.item-info-date {
		flex: 2 0;
		line-height: 1em;
		max-height: 3em;
	}

	.item-info-url {
		flex: 4 1;
		text-align: right;
	}

	.item-info-remove{
		margin: 0 8px;
	}

	.item-info-expires {
		padding-right: 1em;
	}

	.active {
		font-weight: bold;
	}

	a {
		max-width: 100%;
		max-height: 3em;
		overflow: hidden;
		display: inline-block;
		p {
			margin: 0;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 50vw;
		}

		&[data-troublesome-url="true"]{
			background: #DA6A6A;
		    color: white;
		    padding: 3px 0;
		    text-decoration: none;
		}

		&[data-troublesome-url="true"]:hover{

				&:after{
					content: "This content may not show properly on some screens";
				    position: absolute;
				    font-weight: 200;
				    background-color: inherit;
				    color: white;
				    padding: 3px;
				    margin-top: -1.2em;
				}

		}

	}

}

.generator-select {
	a {
		text-decoration: none;

		p {
			margin: 0;
		}
	}
	margin: 1em 0 0;
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}
.actions {
	display: flex;
	flex-direction: column;
	margin: 0 -0.25em 0.5em;

	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	background: #fff1e0;
	margin-bottom: 0;
	box-shadow: 0 0 5px black;

	@include oGridRespondTo(M) {
		flex-direction: row;

		// On large screen float the action bar to give it easy access,
		// not on small because it takes up a lot screen real estate
		position: fixed;
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
		background: #fff1e0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0.5em;
		margin: 0;
	}

	.action-form-group {
		display: flex;
		flex: 1 0;
		min-width: 85%;
	}

	input,
	select,
	button {
		margin: 0 0.25em 0.5em;
		min-width: 8em;
	}

	.action-options {
		display: none;
	}

	.action-remove {
		cursor: pointer;
	}

	.action-options[aria-selected=true] {
		flex: 1;
		display: flex;
		flex-flow: row wrap;

		#selurlduration,
		#selholdduration {
			flex: 1 0;
		}

		#txturl,
		#selscreen {
			flex: 1;
			min-width: 85%;
			@include oGridRespondTo(M) {
				min-width: 200px;
			}
		}
	}
}
